backports.statistics==0.1.0
brotli==1.2.0
brotlicffi==1.2.0.1
charset_normalizer==2.0.12
cryptography==48.0.0
flet_cli==0.84.0
flet_web==0.84.0
h2==4.3.0
httpx==0.28.1
matplotlib==3.10.9
oauthlib==3.3.1
plotly==6.7.0
pyodide==0.0.2
pyOpenSSL==26.2.0
simplejson==4.1.1
typing_extensions==4.15.0
